body {
  overflow-x: hidden;
  width: 100%;
}
.home .title {
  position: relative;
  left: 171px;
  top: 100px;
  font-family: "Roboto Mono", monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 96px;
  line-height: 119px;
}
.home .title2 {
  position: relative;
  width: 419.81px;
  height: 68.21px;
  left: 171.36px;
  top: 100px;

  font-family: "Roboto Mono", monospace;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 59px;
}
.home .text {
  position: relative;
  width: 521px;
  height: 135px;
  left: 171px;
  top: 100px;

  font-family: "Roboto Mono", monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;

  color: #000000;
}
.under {
  text-decoration-line: underline;
  text-decoration-style: wavy;
}
.home .photo {
  position: absolute;
  width: 375px;
  height: 330px;
  left: 932px;
  top: 200px;
  border-radius: 50%;

  background: url(photo.png), #c4c4c4;
}
.home a {
  color: #000000;
  cursor: pointer;
}
.home a:hover {
  color: red;
}
.home .links {
  position: absolute;
  top: 600px;
  left: 250px;
}
@media screen and (max-width: 1200px) {
  .home .photo {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  .home .title {
    left: 20px;
  }
  .home .title2 {
    left: 20px;
  }
  .home .text {
    left: 20px;
  }
  .links {
    left: 20px;
  }
}
@media screen and (max-width: 706px) {
  .home .links {
    top: 750px;
    left: 50px;
  }
  .home .text {
    width: 450px;
  }
}
@media screen and (max-width: 390px) {
  .home .links {
    top: 840px;
    left: 0px;
  }
  .home .text {
    left: 0px;
  }
  .home .title {
    left: 0px;
  }
  .home .title2 {
    left: 0px;
  }
}
